@font-face {
    font-family: 'Routtage';
    font-style: normal;
    font-weight: 400;
    src: local('Routtage'), url('https://fonts.cdnfonts.com/s/70870/Routtage-mLma9.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café';
    font-style: normal;
    font-weight: 400;
    src: local('Louis George Café'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café';
    font-style: italic;
    font-weight: 400;
    src: local('Louis George Café'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe Italic.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café';
    font-style: normal;
    font-weight: 700;
    src: local('Louis George Café'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe Bold.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café';
    font-style: italic;
    font-weight: 700;
    src: local('Louis George Café'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe Bold Italic.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café Light';
    font-style: normal;
    font-weight: 400;
    src: local('Louis George Café Light'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe Light.woff') format('woff');
}
@font-face {
    font-family: 'Louis George Café Light';
    font-style: italic;
    font-weight: 400;
    src: local('Louis George Café Light'), url('https://fonts.cdnfonts.com/s/16355/Louis George Cafe Light Italic.woff') format('woff');
}

body {
    text-align: center;
    background-image: url("https://c.pxhere.com/photos/01/6b/photo-34155.jpg!d");
    background-size: cover;
    font-family: 'Louis George Café', sans-serif;
    font-size: 24px;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

h1{
    font-family: 'Routtage', sans-serif;
    font-size: 46px;
    font-weight: normal;
    padding-top: 80px;
    padding-bottom: 30px;
    color: white;
    opacity: 0.8;
}

.container {
    background: rgba(#fff,0.4);
    height: 400px;
    width: 1200px;
    margin: auto;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    font-family: 'Louis George Café', sans-serif;
    font-size: 24px;
    color: rgba(black,0.7);
    font-weight: bolder;
}

section {
    white-space: pre;
    padding: 75px;
    line-height: 35px;
    height: 300px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    letter-spacing: 1px;
}

@media (max-width : 400px) {
    .container {
        width: 300px;
        font-size: 14px;
        overflow-wrap: break-word;
    }

    section {
        overflow-wrap: break-word;
        padding: 10px;
        line-height: 35px;
        height: 300px;
    }
}