<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Halo</title>
</head>
<body>
    <div class="header1">
        <a href="">Profil</a>
        <a href="">Peraturan</a>
        <a href="">Unduh</a>
        <a href="">Informasi Publik</a>
        <a href="">Internasional</a>
    </div>
    <div class="headr2">
        <a href="">Beranda</a>
        <a href="">Badan</a>
        <a href="">Orang Pribadi</a>
        <a href="">Bendahara</a>
        <a href="">Konsultan</a>
        <a href="">PJAP</a>
        <input type="text" name="Pencarian">
    </div>
</body>
</html>