<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Login | Direktorat Jenderal Pajak</title>
</head>
<body>
    <div class="header1">
        <ul class="listheader1">
            <li class="tombolmenuheader1"><a href="" style="text-decoration:none;">
                Profil
            </a></li>
            <li class="tombolmenuheader1"><a href="" style="text-decoration:none;">
                Peraturan
            </a></li>
            <li class="tombolmenuheader1"><a href="" style="text-decoration:none;">
                Unduh
            </a></li>
            <li class="tombolmenuheader1"><a href="" style="text-decoration:none;">
                Informasi Publik
            </a></li>
            <li class="tombolmenuheader1"><a href="" style="text-decoration:none;">
                Internasional
            </a></li>
        </ul>
    </div>
    <div class="header2">
        <ul class="listheader2">
            <img class="logodjp" src="https://djponline.pajak.go.id/account/assets/media/logos/Logo%20DJP.png" alt="">
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                BERANDA
            </a></li>
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                BADAN
            </a></li>
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                ORANG PRIBADI
            </a></li>
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                BENDAHARA
            </a></li>
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                KONSULTAN
            </a></li>
            <li class="tombolmenuheader2"><a href="" style="text-decoration:none;">
                PJAP
            </a></li>
            <input type="text" name="Pencarian">
        </ul>
        
    </div>
</body>
</html>